<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Monitoring Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }
        .gauge {
            margin-bottom: 40px;
            text-align: center;
        }
        .gauge h2 {
            margin: 0;
        }
        .gauge-value {
            font-size: 24px;
            font-weight: bold;
            color: #1f77b4;
            margin-top: 10px;
        }
        .gauge-bar {
            width: 100%;
            height: 20px;
            background-color: #eee;
            border-radius: 10px;
            overflow: hidden;
            display: inline-block;
        }
        .bar {
            height: 100%;
            transition: width 0.5s ease-in-out;
        }
        .alert {
            background-color: #ffcccc;
            color: #cc0000;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>System Monitoring Dashboard</h1>
        <div class="gauge">
            <h2>CPU Utilization</h2>
            <div class="gauge-value">{{ cpu_metric }}%</div>
            <div class="gauge-bar">
                <div class="bar" style="width: {{ cpu_metric }}%; background-color: #1f77b4;"></div>
            </div>
        </div>
        <div class="gauge">
            <h2>Memory Utilization</h2>
            <div class="gauge-value">{{ mem_metric }}%</div>
            <div class="gauge-bar">
                <div class="bar" style="width: {{ mem_metric }}%; background-color: #ff7f0e;"></div>
            </div>
        </div>
        {% if message %}
        <div class="alert">{{ message }}</div>
        {% endif %}
    </div>
</body>
</html>
